extends layout

block content
  h1 Books
  div
    a.button(href="/books/new") Create New Book
    div.search
      form(action="/books/" method="POST")
        input(type="text", name="search")
        input.search(type="submit", value="Search")
      form(action="/books/" method="POST")
        input.reset(type="submit", value="Reset")
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    if (count)
      tbody
        each book in books
          tr
            td
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year
  if (count)
    ul.pagination
      - for(var i = 0; i < pagination; i++) {
          li
            a(href=`/books?page=${i}`)= i + 1
      - }
  else
    p.no-results= 'No Results Found'
